@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor:url('./assets/images/pointer32.png'),auto;

}
/* custom font */
@font-face {
    font-family: regular;
    src: url(./assets/fonts/poppins.ttf);
}
@font-face {
    font-family: logoFont;
    src: url(./assets/fonts/logoFont.ttf);
}
@font-face {
    font-family: sloganFont;
    src: url(./assets/fonts/sloganFont.ttf);
}
@font-face {
    font-family: navBarFont;
    src: url(./assets/fonts/navBarFont.ttf);
}
@font-face {
    font-family: loginRegisterFont;
    src: url(./assets/fonts/loginRegisterFont.otf);
}
@font-face {
    font-family: loginFont;
    src: url(./assets/fonts/loginFont.ttf);
}
@font-face {
    font-family: loginRegisterTextFont;
    src: url(./assets/fonts/loginRegisterTextFont.otf);
}
@font-face {
    font-family: valorantFont;
    src: url(./assets/fonts/ValorantFont.ttf);
}
@font-face {
    font-family: csgoFont;
    src: url(./assets/fonts/csgoFont.ttf);
}
@font-face {
    font-family: pubgFont;
    src: url(./assets/fonts/pubgFont.ttf);
}
@font-face {
    font-family: warzoneFont;
    src: url(./assets/fonts/warzoneFont.otf);
}
@font-face {
    font-family: sidebarFont;
    src: url(./assets/fonts/sidebarFont.ttf);
}

/* Global Styles */
.home-body {
    font-family: Arial, sans-serif;
    background-image: url('./assets/images/BACKGROUND.jpg'); /* Replace 'image.jpg' with your actual image path */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    display: flex;
    flex-direction: column;
    transition: background-image 1s;
    min-height: 100vh; /* Set minimum height of the viewport */
}
/* Global Styles */

/* Main Content Container */
.main-content {
    flex: 1; /* Allow content to expand and push footer to the bottom */
    margin-bottom:-50px;
}



/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0.2); /* Adjust opacity as needed (0.8 for 80% opacity) */
    padding: 15px 20px;
}

.navbar-brand {
    color: #fff; /* Change to desired text color */
    font-size: 28px;
    font-weight: bold;
    font-family: logoFont;
    text-decoration: none;
    transition: font-size 0.7s ease-in-out; /* Smooth transition on hover */
}

.navbar-brand:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add dark shadow behind text on hover */
}

.navbar-brand img {
    width: 100px;
    margin: 0 5px 0 0;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the logo image */

}

.navbar-brand:hover img {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Add dark shadow behind text on hover */
}

.navbar-links {
    margin-left: auto; /* Pushes the links to the right */
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    display: inline-block;
    margin-left: 20px;
}

.navbar-links ul li:first-child {
    margin-left: 0;
}

.navbar-links ul li a {
    color: #fff; /* Change to desired text color */
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
    font-family: navBarFont;
    transition: all 0.3s ease-in-out;
    padding: 8px 15px;
    cursor:url('./assets/images/link32.png'),auto;
}

.navbar-links ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Login register buttons*/
.login-register-buttons {
    margin-left: auto; /* Align the buttons to the right */
    display: flex; /* Use flexbox for better alignment */
    align-items: center; /* Center the items vertically */
}

.login-button-home, .register-button-home {
    background-color: rgb(255, 255, 255,0.2); /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Button padding */
    font-size: 16px; /* Button font size */
    font-family: loginRegisterFont;
    cursor:url('./assets/images/link32.png'),auto;
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition on hover */
}

.login-button-home:hover {
    background-color: #007bff; /* Change background color to blue on hover */
}

.register-button-home:hover {
    background-color: #28a745; /* Change background color to green on hover */
}

.separator {
    width: 1px; /* Width of the line */
    height: 30px; /* Height of the line */
    background-color: rgba(255, 255, 255, 0.5); /* Translucent line color */
    margin: 0 20px; /* Adjust the gap between the buttons and the line */
}



/* Hero Section Styles */
.hero-section {
    text-align: center; /* Center align the hero text */
    padding: 200px 0px; /* Adjust vertical padding as needed */
    
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Hero Text Styles */
.hero-text {
    color: #fff; /* Text color */
    font-size: 7vw; /* Adjust the value as needed */
    white-space: nowrap;
    font-family: sloganFont;
    text-transform: uppercase; /* Convert text to uppercase */
    font-weight: bold; /* Font weight */
    letter-spacing: 4px;
    margin:-20px auto;
}


/* Gaming zone */
.games-available{
    text-align: center;
    font-family:loginRegisterTextFont;
    font-size:4vw;
    color:white;
    margin-top:70px;
}

.games-section{
    display:flex;
    flex-wrap: wrap;
}

/* game1 */
.games1 {
    width: 80%;
    height: 50vh; /* 80% of the viewport height */
    margin:auto; /* Center the container vertically */
    margin-right:10px;
    border-radius: 20px; /* Rounded corners */
    background-image: url('./assets/images/game1.png');
    background-size: cover;
    background-position: center;
    position: relative;
    flex-basis:43%;

    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  }
  .games1:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .games-overlay1 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3); /* Translucent overlay */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px; /* Rounded corners */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .games-overlay1:hover {
    opacity: 1;
  }
  
  .games-overlay-text1 {
    color: white;
    font-size:100px;
    font-family: valorantFont;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; /* Added transform transition */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%); /* Initially move it down */
  }
  
  .games-overlay1:hover .games-overlay-text1 {
    opacity: 1;
    cursor:url('./assets/images/link32.png'),auto;
  }
  
/* game2 */
.games2 {
    width: 80%;
    height: 50vh; /* 80% of the viewport height */
    margin: 10vh auto; /* Center the container vertically */
    border-radius: 20px; /* Rounded corners */
    background-image: url('./assets/images/game2.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    flex-basis:43%;

    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  }
  .games2:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .games-overlay2 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3); /* Translucent overlay */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px; /* Rounded corners */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .games-overlay2:hover {
    opacity: 1;
  }
  
  .games-overlay-text2 {
    color: white;
    font-size:100px;
    font-family: csgoFont;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; /* Added transform transition */
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -40%); /* Initially move it down */
  }
  
  .games-overlay2:hover .games-overlay-text2 {
    opacity: 1;
    cursor:url('./assets/images/link32.png'),auto;
  }
  
/* game3 */
.games3 {
    width: 80%;
    height: 50vh; /* 80% of the viewport height */
    margin: auto; /* Center the container vertically */
    margin-right:10px;
    margin-top:15px;
    border-radius: 20px; /* Rounded corners */
    background-image: url('./assets/images/game3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    flex-basis:43%;

    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  }
  .games3:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .games-overlay3 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.352); /* Translucent overlay */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px; /* Rounded corners */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .games-overlay3:hover {
    opacity: 1;
  }
  
  .games-overlay-text3 {
    color: white;
    font-size:100px;
    font-family: pubgFont;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; /* Added transform transition */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%); /* Initially move it down */
  }
  
  .games-overlay3:hover .games-overlay-text3 {
    opacity: 1;
    cursor:url('./assets/images/link32.png'),auto;
  }
  
/* game4 */
.games4 {
    width: 80%;
    height: 50vh; /* 80% of the viewport height */
    margin:auto; /* Center the container vertically */
    margin-top:15px;
    margin-bottom: 90px;
    border-radius: 20px; /* Rounded corners */
    background-image: url('./assets/images/game4.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    flex-basis:43%;

    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  }
  .games4:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .games-overlay4 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.352); /* Translucent overlay */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px; /* Rounded corners */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .games-overlay4:hover {
    opacity: 1;
  }
  
  .games-overlay-text4 {
    color: white;
    font-size:100px;
    font-family: warzoneFont;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s; /* Added transform transition */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Initially move it down */
  }
  
  .games-overlay4:hover .games-overlay-text4 {
    opacity: 1;
    cursor:url('./assets/images/link32.png'),auto;
  }

  /* Modal Styles */
.modal, .modal2, .modal3, .modal4{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe00;
    margin:20px auto; /* 15% from the top and centered */
    padding: 0px 4px;
    border: 0px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}


/* Close Button */
.close1, .close2, .close3, .close4{
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    border-radius:50%;
}

.close1:hover,.close2:hover,.close3:hover,.close4:hover,
.close1:focus,.close2:focus,.close3:focus,.close4:focus {
    color: rgb(221, 22, 19);
    text-decoration: none;
    cursor: url('./assets/images/link32.png'),auto;
}

  
  /* login form */
  .top-left-box,
  .top-right-box {
      position: fixed;
      width: 150px; /* Adjust width as needed */
      height: 60px; /* Adjust height as needed */
      background-color: rgb(0, 0, 0,0.4); /* Blue background color */
      color: #fff; /* Text color */
      border-radius: 10px; /* Rounded corners */
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2; /* Ensure the boxes are above other content */
      text-decoration: none; /* Remove underline from anchor tag */
      transition: transform 0.3s; /* Add transition for smooth zoom effect */
  }
  .top-left-box {
    top: 20px;
    left: 20px;
}

.top-right-box {
    top: 20px;
    right: 20px;
}

  .top-left-box:hover,
  .top-right-box:hover {
      transform: scale(1.05); /* Zoom effect on hover */
  }
  
  .box-content {
      font-family: loginRegisterTextFont;
  }
  .box-text {
      margin-top: 6px;
      padding: 0;
  }
  
  .top-left-box:active,
  .top-right-box:active {
      transform: scale(0.95); /* Slight zoom effect on click */
  }
  
  

.login-body {
    margin: auto;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.login-container {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.6); /* Translucent background color */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:regular;
    font-size:12px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family:loginFont;
    font-size:30px;
}

.login-form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin: 0 0 5px 4px;
}

.form-group input,textarea,select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family:regular;
    font-size:12px;
}

.login-button {
    width: 100%;
    padding: 10px;
    margin:15px 0 -15px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: url('./assets/images/link32.png'),auto;
    transition: background-color 0.3s ease-in-out;
    font-family:regular;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-button i {
    margin-left: 5px;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
    cursor:url('./assets/images/link32.png'),auto;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Game 1 page */

.game1-body{
    background-color: black;
    font-family: regular;
}
#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.info-container {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    max-width: 100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    /* border-radius: 10px; */
    overflow-y: auto; /* Enable vertical scroll if content overflows */
}

.info-content {
    margin-bottom: 0px;
    display:flex;
    justify-content: space-between;
}
.info-content>h2 {
    margin: 0 0 25px 10px;
    color:white;
    font-family:valorantFont;
    font-size:50px;
}

/* Tournament info styles */
.tournament-info {
    background-color: rgb(249, 249, 249,0.2);
    padding: 20px;
    margin: 90px 60px 50px -250px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width:30%;
    text-align:justify;
}

.tournament-info h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.tournament-info p {
    color: #ffffff;
    margin-bottom: 20px;
}

.tournament-info ul li {
    color: #ffffff;
    margin: 0 0 20px 18px;
}

/* Eligibility styles */
.eligibility {
    background-color: rgb(234, 242, 255,0.2); /* Light blue */
    padding: 20px;
    margin: 90px 60px 50px 0;;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width:30%;
    text-align:justify;
}

.eligibility h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.eligibility p {
    color: #ffffff;
    margin-bottom: 20px;
}
.eligibility ul li {
    color: #ffffff;
    margin: 0 0 20px 18px;
}

/* Gameplay styles */
.gameplay {
    background-color: rgb(255, 243, 230,0.2); /* Light orange */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 90px 100px 50px 0px;
    min-width:30%;
    text-align:justify;
}

.gameplay h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

.gameplay p {
    color: #ffffff;
    margin-bottom: 20px;
}


.create-tournament button {
    padding: 13px 20px;
    font-size: 16px;
    font-family:regular;
    border: 1px solid white;
    position: relative;
    cursor: url('./assets/images/link32.png'),auto;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(255, 70, 85,0);
    border-radius: 10px;
    min-width: 200px;
    color: #fff;
    z-index: 0;
    letter-spacing: 1px;
    margin-bottom: -100px;
}

.create-tournament button::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -100px;
    width: 150%;
    height: 100%;
    background: rgb(255, 70, 85,1);
    transition: all 0.5s ease-in-out;
    z-index: -1;
    transform: translateX(-300px) skew(-20deg);
}

.create-tournament button:hover::before {
    transform: translateX(0px) skew(-20deg);
}



/* Footer Styles */
.footer {
    background-color: rgb(51, 51, 51,0.0); /* Change to desired footer background color */
    color: #fff; /* Change to desired footer text color */
    padding: 40px 0;
    text-align: center;
    font-family: regular;
}




/* DASHBOARD PAGE */

/* sidemenu */
.sidebar{
    position:sticky;
    top: 0;
    left:0;
    bottom:0;
    width:100px;
    height:100vh;
    padding:40px 1rem;
    color:#fff;
    overflow:hidden;
    transition: all 0.4s linear;
    background: rgb(0, 0, 0);
    border-radius:0 30px 30px 0px;
  
  }
.sidebarFont{
    font-family:sidebarFont;
    white-space: nowrap;
}

  .sidebar:hover{
    width:270px;
    transition: 0.5s;
  }

  #closeMenu{
    display:none;
  }

  .logo{
    height:80px;
    padding:16px 0px 16px 16px;
  }
  .menu{
    height:88%;
    position:relative;
    list-style: none;
    padding: 0;
    margin-left: -10px;
  }
  .menu li{
    padding:1rem;
    margin:8px 0;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.menu li:hover{
    background: #e0e0e058;
    }
  
  .menu a{
    color:#fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
  }
  .menu a span{
    overflow: hidden;
    cursor:url('./assets/images/link32.png'),auto;
  }
  .menu a i{
    font-size: 1.2rem;
    cursor:url('./assets/images/link32.png'),auto;
  }



.dashboard-body {
    background-image: linear-gradient(to bottom, #1a1a1a, #333333);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
    display: flex;
    flex-direction: column;
    transition: background-image 1s;
    min-height: 100vh; /* Set minimum height of the viewport */
    font-family: regular;
    font-size:13px;
}

.welcome-text {
    margin-left:40px;
    font-size: 40px; /* Adjust font size as needed */
    color: #ffffff; /* Text color */
    margin-top: 30px; /* Adjust top margin as needed */
}

.dashboard-hero-section {
    display: flex;
    justify-content: space-between;
    margin-top: 0px; /* Adjust margin as needed */
    margin-left:25px;
    margin-right:30px;
}
#btnn{
    display:none;
}
.dashboard-section {
    flex: 0 0 48%; /* Adjust width of each section */
    background-color: rgba(255, 255, 255, 0.7); /* Translucent background color */
    padding: 20px;
    border-radius: 10px;
    margin-right:10px;
    margin-left:10px;
    height:75vh;
    overflow:hidden;
}

.section-heading {
    text-align: center;
    margin-bottom: 16px;
    font-family:loginFont;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    border-radius:5px;
}

.dashboard-table th,
.dashboard-table td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}






/* create tournament page */

.create-tournament-btn {
    position:absolute;
    top: 53px; /* Adjust top position as needed */
    right: 41px; /* Adjust right position as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #2e8907; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 15px; /* Rounded corners */
    cursor: url('./assets/images/link32.png'),auto;
    font-size:30px;
    font-family:loginRegisterFont;
    transition: background-color 0.3s, transform 0.3s; /* Add smooth transition for hovering and clicking effects */
}

.create-tournament-btn:hover {
    background-color: #0056b3; /* Button background color on hover */
}

.create-tournament-btn:active {
    transform: scale(0.95); /* Button scaling effect on click */
}


/* CONTACT US */
.contact-body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
    color:rgb(250, 250, 250);
    border:1px solid white;
    margin:30px;
    border-radius:30px;
    font-family: regular;
    font-size:14px;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.contact-container {
    max-width: 100%;
    margin: auto;
    padding: 50px;
    display:flex;
}
.contactHead{
    margin:30px auto;
    width:fit-content;
    font-family:loginFont;
    font-size:50px;
}
.contactText{
    margin:auto;
    width:fit-content;
    font-family:loginFont;
    font-size:16px;
}

.contact-info
{
    margin: auto 70px auto;
    padding: 0 0 0 0;
    flex-basis:50%;
    width:100%;
    line-height: 45px;
}

.contact-form
{
    margin: auto;
    padding:30px;
    flex-basis:50%;
    border: 1px rgba(255, 255, 255, 0.701) solid;
    border-radius:30px;
    background:rgba(255, 255, 255, 0.123);
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    
}
.contact-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contactSendBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 30px;
    cursor: url('./assets/images/link32.png'),auto;
    transition: background-color 0.2s ease-in-out;
}

.contactSendBtn:hover {
    background-color: #ff0202;
    transition:0.3s ease-in-out;
}

.sendMessage{
    margin:0 0 13px 0;
}


/* ABOUT */
.about-container {
    max-width:90%;
    margin: 0 auto;
    padding: 40px;
    display:flex;
    margin-top: 30px;
}

.about{
    border:1px solid;
    margin:10px auto;
    max-width:30%;
    border-radius: 7%;
    background-color: transparent;
    color: white;
    padding: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
.about:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
}


.about-container h2 {
    margin: 32px 0px 30px 0px;
    text-align: center;
    font-size:35px;
}

.about-container p {
    margin: 20px;
    text-align: justify;
}

.aboutUs{
    margin:30px 0 30px 0px;
    font-family:loginFont;
    font-size:50px;
    text-align:center;
}

.aboutUsText{
    margin:20px 0 20px 0px;
    font-family:loginFont;
    font-size:16px;
    text-align:center;
    padding:0 80px 0 80px;
}

.aboutUsContactBtn{
    max-width:130px;
    margin: 60px auto;
    text-decoration: none;
    text-align: center;
}

.aboutFooter{
    margin-top:50px;
}


  
  
/* MEDIA QUERIES */

/* Default styles */

@media only screen and (max-width: 485px) {
    /* CONTACT PAGE */
    .contact-container{
        display:flex;
        flex-direction: column;
        padding:30px !important;
        
    }
    .contact-info{
        width:fit-content;
        margin:auto;
    }
    .contact-info>p>span{
        font-size:12px !important;
    }
    .contact-form{
        min-width:100%;
        margin-left:0;
        margin-right:0;
        margin-top: 35px !important;
        margin-bottom:70px !important;
    }

    .contactText{
        width:80%;
        text-align:center;
        font-size:12px !important;
    }
    .contactHead{
        font-size:35px !important;
    }

    /* INDEX PAGE */
    .container{
        margin-top:45px !important;
    }
    .navbar-brand>img{
        width:60px;
    }
    .navbar-brand{
        font-size:25px;
    }
    .navbar-links ul li a{
        font-size:15px;
    }
    .login-button-home{
        font-size:15px;
    }
    .register-button-home{
        font-size:15px;
    }
   
    .hero-text{
        margin-top:90px !important;
        font-size:50px
    }

    /* GAMES PAGES */
    .info-content{
        display:flex;
        flex-wrap:wrap;
    }
    .info-content>h2{
        position: absolute;
        text-align:center;
        top:5%;
        width:90%;
    }
    .tournament-info,.eligibility{
        margin:2px !important;
        margin-top:120px !important;
        width:49%;
        padding:13px;
        font-size:10px;
    }
    .games-overlay-text1,.games-overlay-text2{
        font-size:60px !important;
    }
    .games-overlay-text2{
        margin-top:30px !important;
    }
    .tournament-info ul li,.eligibility ul li{
        margin-left:10px;
    }
    #counter-strike{
        font-size:43px !important;
    }
    .gameplay{
        margin:0 !important;
        margin-top:3px !important;
        margin-bottom:40px !important;
        width:99.5%;
        font-size:10px;

    }
    .tournament-info{
        margin-left:0px !important;
    }
    .info-container{
        padding:10px;
    }

    /* DASHBOARD */
    .create-tournament-btn{
        left:10% !important;
        top:20% !important;
    }
    
    .dashboard-section{
        width:100%;
        margin:auto;
    }
    .welcome-text{
        margin-left:70px;
    }
    #resultsBody{
        font-size:10px;
    }
    .sidebar{
        opacity:1;
        position: absolute;
        width:270px;
        left:-270px;
        z-index:2;
    }
    
    #btnn{
        display:block;
        position:absolute;
        left:20px;
        font-size:25px;
        border:1px solid white;
        text-align:center;
        border-radius:3px;
        color:white;
        top:45px;
        width:30px;
    }

    #closeMenu{
        display:block;
        font-size:20px;
        margin-left:20px;
        border:1px solid white;
        width:fit-content;
        border-radius:3px;
        padding:3px 6px 4px 5px;
        text-align:center;
    }

    /* ABOUT */
    .aboutUs{
        font-size:40px;
    }
    .aboutUsText{
        font-size:13px !important;
    }
    .about-container{
        padding:0;
        margin-top:40px;
    }
    .about>p{
        margin:8px;
    }

    /* PROFILE */
    .login-container{
       width:80% !important;
       margin-top:30px;
    }

    /* FOOTER */
    .footer{
        margin-bottom:-40px !important;
    }
}


@media only screen and (max-width: 576px) {
    /* ABOUT PAGE */
    .aboutUsText {
        font-size: 14px;
    }
    .about {
        padding: 20px;
    }
    .contact-body{
        height:100%;
    }
    .footer {
        font-size: 12px;
    }

    /* INDEX PAGE */
    .container{
        margin-top:-130px !important;
    }

}

@media only screen and (max-width: 768px) {
    /* ABOUT PAGE */
    .about-container {
        display: flex;
        flex-direction: column;
        border:none;
    }
    .about {
        margin-bottom: 20px;
        margin:0px -100px 70px 0;
        min-width:100%;
        border-radius:10px
    }
    .aboutUsText{
        text-align: center;
    }
    .contact-body{
        height:100%;
    }
    .footer{
        margin-top:-100px;
    }

    /* INDEX PAGE */
    .hero-text{
        white-space: collapse;
        margin:0 10px 40px 10px;
    }
    .container{
        margin-top:-140px !important;
    }
    .footer{
        margin-top:50px !important;
        padding-bottom:0;
    }

    /* DASHBOARD */
    .create-tournament-btn{
        top:22%;
        left:22%;
        font-size:20px;
    }
    .dashboard-section{
        margin-top:80px;
    }
    
}


@media only screen and (max-width: 820px) {
    /* CONTACT PAGE */
    .contact-container{
        display:flex;
        flex-direction: column;
    }
    .contact-info{
        width:fit-content;
        margin:auto;
    }
    .contact-info>p>span{
        font-size:15px !important;
    }
    .contact-form{
        width:99%;
        margin-top: 60px;
    }

    .contactText{
        width:80%;
        text-align:center;
        font-size:12px !important;
    }
    .contactHead{
        font-size:40px !important;
    }

}


@media only screen and (max-width: 1000px) {
    /* CONTACT PAGE */
    .contact-container{
        display:flex;
        flex-direction: column;
    }
    .contact-info{
        width:fit-content;
        margin:auto;
    }
    .contact-form{
        width:85%;
        margin-top: 60px;
    }

    /* INDEX PAGE */
    .games-section{
        display:block;
        margin-bottom:170px !important;
    }
    .games1{
        margin:auto;
    }
    .games2{
        margin:80px auto;
    }
    .games3{
        margin:auto;
    }
    .games4{
        margin:80px auto;
    }
    .games-available{
        margin-bottom:80px;
    }
}

@media only screen and (max-width: 1050px) {
    /* INDEX PAGE */
    .games-overlay-text1,.games-overlay-text2,.games-overlay-text3,.games-overlay-text4{
        font-size:60px;
    }
    .games-section{
        margin-bottom:90px;
    }
    .navbar{
        flex-direction:column;
    }
    .navbar-links{
        margin:25px auto;
    }
    .login-register-buttons{
        margin: auto;
    }
    .navbar-brand{
        margin-top:10px;
    }

    .hero-text{
        margin-top:-120px;
    }

}


@media only screen and (max-width: 1115px) {
    
    /* ABOUT PAGE */
    .about-container {
        display: flex;
        flex-direction: column;
        border:none;
    }
    .about {
        margin-bottom: 20px;
        margin:0px -100px 70px 0;
        min-width:100%;
        border-radius:10px
    }
    .aboutUsText{
        text-align: center;
    }
    .contact-body{
        height:100%;
    }
    .footer{
        margin-top:-100px;
    }

    /* CONTACT PAGE */
    .contact-info {
        margin: auto 20px auto;
        padding: 0;
        flex-basis: 50%;
        width: 100%;
        line-height: 35px;
    }
    .contact-container{
        margin:0 0 50px 0 !important;
    }

    /* INDEX PAGE */
    .hero-text{
        margin-top:1px;
    }

    /* DASHBOARD */
    .dashboard-hero-section{
        display:block;
    }
}

@media only screen and (max-width: 1200px) {
    /* INDEX PAGE */
    .games-overlay-text1,.games-overlay-text2,.games-overlay-text3,.games-overlay-text4{
        font-size:70px;
    }

    .games-section{
        margin-bottom:90px;
    }

    /* DASHBOARD */

}

